<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/welcomepage.css">
    </head>
    <body>
        <div id="background"></div>
        <section>
            <div class="set">
                <div><img src="img/snowflake1.png"></div>
                <div><img src="img/snowflake2.png"></div>
                <div><img src="img/snowflake3.png"></div>
                <div><img src="img/snowflake4.png"></div>
                <div><img src="img/snowflake5.png"></div>
                <div><img src="img/snowflake1.png"></div>
                <div><img src="img/snowflake2.png"></div>
                <div><img src="img/snowflake3.png"></div>
                <div><img src="img/snowflake4.png"></div>
                <div><img src="img/snowflake5.png"></div>
            </div>
            <div class="set set2">
                <div><img src="img/snowflake1.png"></div>
                <div><img src="img/snowflake2.png"></div>
                <div><img src="img/snowflake3.png"></div>
                <div><img src="img/snowflake4.png"></div>
                <div><img src="img/snowflake5.png"></div>
                <div><img src="img/snowflake1.png"></div>
                <div><img src="img/snowflake2.png"></div>
                <div><img src="img/snowflake3.png"></div>
                <div><img src="img/snowflake4.png"></div>
                <div><img src="img/snowflake5.png"></div>
            </div>
            <div class="set set3">
                <div><img src="img/snowflake1.png"></div>
                <div><img src="img/snowflake2.png"></div>
                <div><img src="img/snowflake3.png"></div>
                <div><img src="img/snowflake4.png"></div>
                <div><img src="img/snowflake5.png"></div>
                <div><img src="img/snowflake1.png"></div>
                <div><img src="img/snowflake2.png"></div>
                <div><img src="img/snowflake3.png"></div>
                <div><img src="img/snowflake4.png"></div>
                <div><img src="img/snowflake5.png"></div>
            </div>
        </section>

        <form class="logout-form" method="POST" action="logout">
                <div class="interior-logout-form">
                    <span>Hello {{ name }}</span>
                    <input type="submit" name="logout" class="logout-form-btn" value="logout">
                </div>
            </form>
    </body>
</html>